body{
    background-color: rgb(212, 181, 25);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
img{
    margin-bottom: 5%
}
p{

    color: rgb(255, 238, 0);

}